Recruiting Model/main/default/flows/User_My_Profile_Update_Simple.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_values_and_set_stage_to_Address</name>
        <label>Assign values and set stage to Address</label>
        <locationX>445</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stage_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.AboutMe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>About_Me</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_and_set_stage_to_Done</name>
        <label>Assign values and set stage to Done</label>
        <locationX>580</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stage_Done</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>State_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_users_record_Id.Specialties__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specialties</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Profile_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Options_and_Stage</name>
        <label>Set Options and Stage</label>
        <locationX>176</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stage_My_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_users_record_Id</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>cCardiovascular</name>
        <choiceText>Cardiovascular</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cEndocrinology</name>
        <choiceText>Endocrinology</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cGastroenterology</name>
        <choiceText>Gastroenterology</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cGeneralSurgery</name>
        <choiceText>General Surgery</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>choiceAnesthesia</name>
        <choiceText>Anesthesia</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cInternalMedicine</name>
        <choiceText>Internal Medicine</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cNeurology</name>
        <choiceText>Neurology</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cObstetricsGynecology</name>
        <choiceText>Obstetrics/Gynecology</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>cOncology</name>
        <choiceText>Oncology</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>Specialties</name>
        <dataType>String</dataType>
        <displayField>Specialties__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <interviewLabel>User - My Profile Update Simple {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - My Profile Update Simple</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Pass in {!recordId} into this flow. Allows to set the user (either user or current user)</description>
        <name>Get_users_record_Id</name>
        <label>Get users record Id</label>
        <locationX>307</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_Your_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Profile_record</name>
        <label>Update User Profile record</label>
        <locationX>720</locationX>
        <locationY>478</locationY>
        <connector>
            <targetReference>screen_Update_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_Error</targetReference>
        </faultConnector>
        <inputReference>Get_users_record_Id</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screen_Address</name>
        <label>Address</label>
        <locationX>580</locationX>
        <locationY>338</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_and_set_stage_to_Done</targetReference>
        </connector>
        <fields>
            <name>txtx1_Update_Address</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Update your address.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Address_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Address_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.Street</elementReference>
                    </defaultValue>
                    <fieldText>Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Address_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Address_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.City</elementReference>
                    </defaultValue>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Address_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>State_Province</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.State</elementReference>
                    </defaultValue>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Address_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Address_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.PostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Address_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.Country</elementReference>
                    </defaultValue>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Error</name>
        <label>Error</label>
        <locationX>874</locationX>
        <locationY>476</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt1_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;An error occurred, contact your administrator.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Update_Complete</name>
        <label>Update Complete</label>
        <locationX>720</locationX>
        <locationY>624</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt1_Done</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;Profile Update Complete&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_users_record_Id.FirstName}, your profile have been updated.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_Your_Information</name>
        <label>Your Information</label>
        <locationX>445</locationX>
        <locationY>209</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_and_set_stage_to_Address</targetReference>
        </connector>
        <fields>
            <name>txt1_My_Info</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Update your contact information.&lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: &amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screen_Your_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Your_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Your_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Your_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Your_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.Email</elementReference>
                    </defaultValue>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Your_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.Phone</elementReference>
                    </defaultValue>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Your_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Your_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_Your_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fax</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_users_record_Id.Fax</elementReference>
                    </defaultValue>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screen_Your_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_Your_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>picklistSpecialties</name>
                    <choiceReferences>choiceAnesthesia</choiceReferences>
                    <choiceReferences>cInternalMedicine</choiceReferences>
                    <choiceReferences>cObstetricsGynecology</choiceReferences>
                    <choiceReferences>cCardiovascular</choiceReferences>
                    <choiceReferences>cEndocrinology</choiceReferences>
                    <choiceReferences>cGastroenterology</choiceReferences>
                    <choiceReferences>cGeneralSurgery</choiceReferences>
                    <choiceReferences>cNeurology</choiceReferences>
                    <choiceReferences>cOncology</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specialties (Alt + click to multi-select)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>About_Me</name>
                    <defaultValue>
                        <stringValue>{!Get_users_record_Id.AboutMe}</stringValue>
                    </defaultValue>
                    <fieldText>About Me</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>stage_Address</name>
        <isActive>true</isActive>
        <label>Address</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>stage_Done</name>
        <isActive>true</isActive>
        <label>Done</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>stage_My_Information</name>
        <isActive>true</isActive>
        <label>My Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Options_and_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
